.coloured{
    background-color: #0d4653;
     
}

/* Container */

.container {
    padding: 7% 15%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
      background-color: #222831;
      border-bottom-left-radius: 26px;
     
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff !important;
}

.nav-item {
    padding: 0 18px;
  
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat-Light";
    color: #fff !important;
}

