body {
    background: #ffffff;
    
}

.news {
    width: 160px
}

.news-scroll a {
    text-decoration: none
}

.dot {
    height: 6px;
    width: 6px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 2px !important;
    background-color: rgb(207, 23, 23);
    border-radius: 50%;
    display: inline-block
}

.dotes{
    background-color: black;
     height: 6px;
     width: 6px;
     margin-left: 3px;
     margin-right: 3px;
     margin-top: 2px !important;
   
     border-radius: 50%;
     display: inline-block
}