@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* { 
	font-family: Roboto, sans-serif; 
	line-height: 1.5;
}

.loginBtn { margin-right: 10px; }

.pageTitle { margin-top: 50px; }

.formHeader { text-align: center; }

.subHeader, .endOfContent { margin-bottom: 50px; }