body{
    text-align: center !important;
}

.container-fluid {
    padding: 7% 15%;
}

/* Carousel Section */

#designcarousel {
    background-color: #ef8172;
}

.carousel-text {
    font-size: 3rem;
    line-height: 1.5;
}

.carousel-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}