.card {
  text-align: center;
  border-style: inset;
  background-color: black !important;
  font-size: larger;
  color: white !important;
}

.btn {
  background: tomato !important;
}

/* button glows on hover */
.btn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgb(255, 255, 255);
}
